.Shop .Valid {
  color: red;
}

.Shop .Lab1 {
  margin-left: 22px;
  width: 200px;
}

.Shop .Lab2 {
  margin-left: 51px;
  width: 200px;
}

.Shop .Lab3 {
  margin-left: 54px;
  width: 200px;
}

.Shop .Lab4 {
  margin-left: 7px;
  width: 200px;
}

.Shop .Valid {
  color: red;
  
}