.TablePr
{
  /*border: solid black 1px;*/
  border-collapse: collapse;
  border-color: black;
}

.TablePr .NameStore
{
  font-weight: bold;
}

.TablePr .Line
{
  font-weight: 100;
  min-width: 51px;
  border: solid black 1px;
  text-align: center;
  padding: 0px;
  border-spacing: 0px;
  line-height: 0px;
}

.TablePr .NameStore
{
  margin-bottom: 10px;
}

.TablePr .Product
{
  padding: 0 20px 0 5px;
  text-align: left;
  border: solid black 1px;
}

.TablePr .Image
{
  width: 70px;
}

.TablePr .Foot
{
  border-spacing: 0px;
}